<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>首页</title>
    <style type="text/css">
        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
        }
        h3 {
            width: 180px;
            height: 38px;
            margin: 100px auto;
            text-align: center;
            line-height: 38px;
            background: deepskyblue;
            border-radius: 4px;
        }
    </style>
</head>

<body>
<h1 style="text-align: center;">简易设备资产管理系统</h1>
<h3>
    <a th:href="@{/user/to_login}">登录</a>
</h3>
<h3>
    <a th:href="@{/user/to_register}">注册</a>
</h3>
</body>

</html>