<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>简易设备资产管理系统</small>
                </h1>
            </div>
        </div>
    </div>
    <form th:action="@{/user/register}" method="post">
        用户名：<input type="text" name="username" required><br><br><br>
        用户密码：<input type="password" name="password" required><br><br><br>
        真实姓名：<input type="text" name="name" required><br><br><br>
        联系电话：<input type="text" name="phone" required><br><br><br>
        电子邮箱：<input type="email" name="email" required><br><br><br>
        <input type="submit" value="注册" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="reset" value="取消" class="btn btn-primary">
    </form>

</div>
</body>
</html>